body{
font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:300px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
text-align:center;
}

h2{
color:#e2136e;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:12px;
background:#e2136e;
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#c10f5a;
}

#result{
margin-top:15px;
font-weight:bold;
}
